/*Homepage*/

.rectangle {
    width: 100%;
    height: 70px;
    background-color: #ECECEC;
    margin: none;
    display: flex;
    align-items: center;
}

.circle1 {
    width: 15px;
    height: 15px;
    background-color: #EA4335;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 10px;
    /* adjust as needed for spacing */
}

.circle2 {
    width: 15px;
    height: 15px;
    background-color: #FBBC05;
    border-radius: 50%;
    margin-right: 10px;
    /* adjust as needed for spacing */
}

.circle3 {
    width: 15px;
    height: 15px;
    background-color: #34A853;
    border-radius: 50%;
    /* adjust as needed for spacing */
}

.Abbie {
    padding-top: 10%;
    text-align: center;
    font-size: 120px;
    margin-bottom: none;
    line-height: 1em;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.Marder {
    margin-top: none;
    text-indent: 55%;
    font-size: 60px;
    line-height: 1px;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

}

.blue {
    color: #4285F4;
}

.red {
    color: #EA4335;
}

.yellow {
    color: #FBBC05;
}

.green {
    color: #34A853;
}

.roundedrectangle {
    width: 50%;
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border-width: thin;
    filter: drop-shadow(5px 5px 4px #A7A7A7);
}

.wrapper {
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.search {
    margin-left: 10px;
}

.typing-demo {
    margin-left: 15px;
    width: 36vh;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: poppins;
    font-size: 20px;
    color: #7D7D7D;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.btna {
    background-color: #EBEBEB;
    color: black;
    font-family: poppins;
}

.btna:hover {
    background-color: #4285F4;
    filter: drop-shadow(3px 3px 4px #34A853);
    color: black;
}


.btnc {
    background-color: #EBEBEB;
    color: black;
    font-family: poppins;
}

.btnc:hover {
    background-color: #FBBC05;
    filter: drop-shadow(3px 3px 4px #34A853);
    color: black;
}

/*Work hover */
.btnw {
    background-color: #EBEBEB;
    color: black;
    font-family: poppins;
}

.btnw:hover {
    background-color: #4285F4;
    filter: drop-shadow(3px 3px 4px #34A853);

}

.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px #34A853;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Poppins", sans-serif;
}

.dropdown-content a:hover {
    color: #EA4335;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: "Poppins", sans-serif;
}

.dropdown:hover .dropdown-content {
    display: block;
    max-height: 160px;
}

.navbar {
    padding-left: 24px;
}

.nav-link {
    font-family: "Poppins", sans-serif;
}

.abouttitle {
    font-size: 75px;
    font-weight: bold;
    padding-top: 100px;
}

.info {
    font-family: poppins;
    padding-top: 10px;
    text-align: center;
}

.me {
    border-radius: 10%;
    width: 100px;
    
        /* #1 */
        border: 5px solid #4285F4;
    
        /* #2 */
        padding: 5px;
        background: #34A853;
    
        /* #3 */
        outline: 5px solid #FBBC05;
    
        /* #4 AND INFINITY!!! */
        box-shadow:
            0 0 0 10px #EA4335,
            0 0 0 15px #4285F4;
}

p.resume a {
    color: black;
    font-family: poppins;
    font-weight: bold;
    font-family: poppins;
}

p.resume a:hover {
    color: #4285F4;
}

p.clink a {
    color: black;
    font-family: poppins;
}

p.clink a:hover {
    color: #EA4335;
    font-family: poppins;
}
.skillst {
    font-family: poppins;
    font-size: larger;
    font-weight: bold;
}
.skillst {
    font-family: poppins;
    font-size: larger;
    font-weight: 900;
}

.sl {
    font-family: poppins;
    font-weight: bold;
    font-size: 20px;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
    font-family: 'Poppins', sans-serif;

}

.content {
    flex: 1;
}

.footer {
    background-color: #ECECEC;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    position: absolute;

}

.footer ul a {
    list-style: none;
    padding: 0;
    text-align: center;
    color:black;
    font-family: "Poppins", sans-serif;
    text-decoration: none ;
}

.footer ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer .credit {
    text-align: center;
    right: 10px;
    font-family: "Poppins", sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#photoBooth {
    margin-top: .2em;
    padding: 10px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    opacity: 90%;
    border-radius: 2px;
}

#slideShow {
    position: relative;
}

.photoHolder {
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.moreIndicator {
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 3;
    opacity: .8;
    bottom: 0px;
    right: 0px;
    ;
    left: 0px;
    margin: auto;
    text-align: center;
}

.thumbnail {
    position: relative;
    box-shadow: #1a73e8 1px 3px 20px 0px;
}


#nav {
    clear: both;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 50px;
}

#prevPhoto {
    height: 42px;
    width: 42px;
}

#prevPhoto:hover {
    opacity: 80%;
    
}

#nextPhoto {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 42px;
    width: 42px;
}

#nextPhoto:hover {
    opacity: 80%;
}

.details p {
    margin-top: 20px;
}

.details {
    /* #1 */
        border: 5px solid #34A853;
    
        /* #2 */
        padding: 5px;
        background: #34A853;
    
        /* #3 */
        outline: 5px solid #FBBC05;
    
        /* #4 AND INFINITY!!! (CSS3 only) */
        box-shadow:
            0 0 0 10px #EA4335,
            0 0 0 15px #4285F4;
    padding: 0px 10px;
    margin: 10px 0px;
    font-weight: bold;
    margin-top: 5%;
    color: black;
    font-family: poppins;
    background-color: white;
}

/*Add CSS styles to rotate the element 90deg
Make it animate nicely. You'll need CSS3 for this*/
.rot90 {
    transform: rotateZ(90deg);
    transition: transform 1s ease;
}

/*Add CSS styles to rotate the element 180deg
Make it animate nicely. You'll need CSS3 for this*/
.rot180 {
    transform: rotateZ(180deg);
    transition: transform 1s ease;
}

/*Add CSS styles to rotate the element 270deg
Make it animate nicely. You'll need CSS3 for this*/
.rot270 {
    transform: rotateZ(270deg);
    transition: transform 1s ease;
}


#photo {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    /* Ensure that photos don't extend past the container */
    text-align: center;
    /* Center align photos */
}

.thumbnail {
    max-width: 100%;
    /* Ensure that photos fit entirely within the container */
    height: auto;
    /* Maintain aspect ratio */
    display: inline-block;
    /* Allow photos to be centered */
}

.banner {
    text-align: center;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    padding-top: 90px;
    font-weight:bold;
}
.banner1 {
    text-align: center;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;

}

.square {
    width: 100%;
    padding-bottom: 100%;
    /* 1:1 Aspect Ratio */
    overflow: hidden;
    position: relative;
}

/* Responsive square images */
.square img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.web:hover {
    opacity: 50%;
}

.logr{
    border: 5px solid #EA4335;
}
.logb {
    border: 5px solid #4285F4;
}
.logg {
    border: 5px solid #34A853;
}
.logy {
    border: 5px solid #FBBC05;
}

.tyellow{
    color:#FBBC05;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.tred {
    color: #EA4335;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.tblue {
        color: #4285F4;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
    }

.more {
    text-decoration: none;
    color: #4285F4;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding-top: 20px;
}

.contact-form {
    background-color: #ECECEC;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px #FBBC05;
    width: 400px;
 
}


.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.contact-form textarea {
    resize: none;
    justify-content: right;
}

.contact-form input[type="submit"] {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: #1a73e8;
}